.container {
    height: 880px;
    border: 20px solid #dada37;
    margin: 20px;
    display:flex;  
    /* align-items: flex-start;  
    flex-direction:column ;
    justify-content: flex; */
    gap: 20px;
}
.item {
    background-color: #18b5a4;
    padding: 10px;
    width: 100px;
    height: 100px;
    border: 15px solid #101011;
    color: #fff;
    font-weight: 700;
    font-size: 42px;
    display:flex;
    align-items:flex-end ;
    justify-content: center;
}

.wrapper {
    border: 5px solid #18b5a4;
    padding: 30px;
    display: flex;
    gap: 30px;
  
}
.card {
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 5px 10px black;
    padding: 5px;
    text-align: center;
}
.card img {
    width: 100%;
    object-fit: cover;
   
}
.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}



